$headerImg:url(../img/4.jpg);
$textColorNav:#4c1952;
$img1:url(../img/5.jpeg);
$img2:url(../img/6.jpg);
$img3:url(../img/7.jpg);
$card_title:#9f86a2;
$card_text:#69395e;
$review_bg-color:#8a6f8d;
$review_title:#caa2cb;
$review_card:#9d7a86;
$find-form__input-bg-color:#9f86a2;
$find-form__input-title:#523d54;
$find-form__input-border-color:#523d54;
$find-form__input-color:#523d54;
$footer_bg-color:#5d3d85;
$footer_title:#a96cf5;
$footer_text:#4f0a5e;
$footer_btn_bg-color:#5d3d85;