$headerImg:url(../img/0.jpg);
$textColorNav:#c1d1df;
$img1:url(../img/1.jpg);
$img2:url(../img/2.jpg);
$img3:url(../img/3.jpg);
$card_title:#8695a2;
$card_text:#395369;
$review_bg-color:#8d6f79;
$review_title:#cba2b0;
$review_card:#9d7a86;
$find-form__input-bg-color:#8695a2;
$find-form__input-title:#c1d1df;
$find-form__input-border-color:#5e6872;
$find-form__input-color:#5e6872;
$footer_bg-color:#3d5585;
$footer_title:#659afe;
$footer_text:#0a275e;
$footer_btn_bg-color:#3d5585;